<form action="">

<div class="input-group input-group-sm mb-3 mt-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
  </div>
  <input type="text" name= "q" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>
<button type="submit" class="btn btn-primary">tìm kiếm</button>

</form>
