<div class="mt-4">
<h3>Đăng khóa học</h3>
<form method="POST" action="/detail/store">
  <div class="form-group">
    <label for="name">Tên khóa học</label>
    <input type="text"   class="form-control" id="name" name="name">
   
  </div>

   <div class="form-group">
    <label for="descript">mô tả khóa học</label>
    <input type="text" class="form-control" id="descript" name="descript">
 
  </div>

   <div class="form-group">
    <label for="VideoID">link video</label>
    <input  type="text" class="form-control" id="VideoID" name="VideoID">
  </div>

  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

